API_KEY = '***'
LOCATION = '***'
LATITUDE = '***'
LONGITUDE = '***'
UNITS = 'imperial'
CSV_OPTION = True # if csv_option == True, a weather data will be appended to 'record.csv'

OWM_BASE_URL = 'http://api.openweathermap.org/data/2.5/onecall?' 
OWM_URL = OWM_BASE_URL + 'lat=' + LATITUDE + '&lon=' + LONGITUDE + '&units=' + UNITS +'&appid=' + API_KEY

THINGSPEAK_URL = 'https://api.thingspeak.com/channels/1207336/fields/2.json?results=1'
